// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

// colors
$primary: gold;
$secondary: darken(gold, 10%);
$error: #ef5777;
$success: #1abc9c;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #fff;
$black: black;
// resets
body {
	margin: 0;
	color: $dark;
	background: #E6ECF0;
	//cursor: url(hover.png), auto;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	//cursor: url(hover.png), auto;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	transition: 0.15s;

	&:focus {
		outline: none;
	}
}
// fonts
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0 0 0.5rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.5;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: $secondary;
	margin: 0;
	//cursor: url(button.png), auto;

	&:hover {
		color: lighten($primary, 5%);
	}
}

// globals
section {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;

	@media screen and (max-width: 742px) {
		display: block;
	}
}

.col1,
.col2 {
	flex-grow: 1;
	flex-basis: 0;
	padding: 1rem;

	@media screen and (max-width: 742px) {

	}
}

[v-cloak] {display: none}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($dark, 0.4);
	z-index: 9999;

	p {
		background: $white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
        padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($dark, 0.5);
	}
}

.error-msg {
	margin-top: 1rem;
	text-align: center;
	p {
		color: $error;
		margin: 0;
	}
}

.button {
	background: $secondary;
	border: 0;
	outline: 0;
	color: $white;
	padding: 0.8rem 1rem;
	min-width: 150px;
	font-size: 16px;
	border-radius: 3px;
	//cursor: url(button.png), auto;

	&:hover {
		background: lighten($secondary, 5%);
	}
    &:disabled {
        opacity: 0.5;

        &:hover {
            background: $white;
        }
    }
}

.text-center {
	text-align: center;
}

.inline {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
	}
}

.clear {
    clear: both;
}



form {
	label {
		display: block;
		font-size: 16px;
		margin-bottom: 0.5rem;
	}

	input {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		font-size: 16px;
		padding: 10px;
		outline: 0;
		border: 1px solid #e6ecf0;
		border-radius: 3px;

		&:focus {
			box-shadow: 0 0 5px 0 rgba($dark, 0.2);
		}
	}

    textarea {
        resize: none;
        border: 1px solid #e6ecf0;
        outline: 0;
        height: 100px;
        width: 100%;
        padding: 10px;
		font-size: 16px;
	}
}
form2 {
	input {
		display: inline;
		margin-left: 3.5rem;
		margin-bottom: 1rem;
		font-size: 16px;
		padding: 10px;
		outline: 0;
		border: 1px solid #e6ecf0;
		border-radius: 3px;

		&:focus {
			box-shadow: 0 0 5px 0 rgba($dark, 0.2);
		}
	}
}
// transitions
.fade-enter-active {
	transition: opacity 0.5s;
}
.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 1;
	right: 0;
	bottom: 470px;
	width: 300px;
	height: 100px;
	.search {
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 45px;
	  height: 45px;
	  background:gold;
	  border-radius: 50%;
	  transition: all 1s;
	  z-index: 4;
	  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
	  // box-shadow: 0 0 25px 0 crimson;
	  &:hover {
		cursor: pointer;
	  }
	  &::before {
		content: "";
		position: absolute;
		margin: auto;
		top: 22px;
		right: 0;
		bottom: 0;
		left: 22px;
		width: 12px;
		height: 2px;
		background: white;
		transform: rotate(45deg);
		transition: all .5s;
	  }
	  &::after {
		content: "";
		position: absolute;
		margin: auto;
		top: -5px;
		right: 0;
		bottom: 0;
		left: -5px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 2px solid white;
		transition: all .5s;
	  }
	}
	input {
	  font-family: 'Inconsolata', monospace;
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 50px;
	  height: 50px;
	  outline: none;
	  border: none;
	  // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	  background: rgb(255, 255, 153);
	  color: rgb(19, 17, 17);
	  background: rgb(255, 255, 153);
	  padding: 0 80px 0 20px;
	  border-radius: 30px;
	  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4),
				  0 20px 25px 0 rgba(0, 0, 0, 0.4);
	  // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
	  transition: all 1s;
	  opacity: 0;
	  z-index: 5;
	  font-weight: bolder;
	  letter-spacing: 0.1em;
	  &:hover {
		cursor: pointer;
	  }
	  &:focus {
		width: 300px;
		opacity: 1;
		cursor: text;
	  }
	  &:focus ~ .search {
		right: -250px;
		background: rgb(236, 206, 87);;
		z-index: 6;
		&::before {
		  top: 0;
		  left: 0;
		  width: 25px;
		}
		&::after {
		  top: 0;
		  left: 0;
		  width: 25px;
		  height: 2px;
		  border: none;
		  background: white;
		  border-radius: 0%;
		  transform: rotate(-45deg);
		}
	  }
	  &::placeholder {
		color: rgb(32, 31, 31);
		opacity: 0.5;
		font-weight: bolder;
	  }
	}
}